<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings />
  <connectionStrings>
		<add name="UHSSWEB_DEVEntities" connectionString="metadata=res://*/EDMTableHockey.csdl|res://*/EDMTableHockey.ssdl|res://*/EDMTableHockey.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=6e79cff9-ac7b-4f0a-a1b1-a2120172517d.sqlserver.sequelizer.com;Database=db6e79cff9ac7b4f0aa1b1a2120172517d;User ID=brtzyljplgqrirgq;Password=VPwbRk8qMZo7CuHkCUSrKx4wTGoeNXcfvcSdWjTYQBqhmxggMAnF68cwTapj63KW;&quot;" providerName="System.Data.EntityClient" />
    <add name="UHSSWEB_DEV" connectionString="Server=6e79cff9-ac7b-4f0a-a1b1-a2120172517d.sqlserver.sequelizer.com;Database=db6e79cff9ac7b4f0aa1b1a2120172517d;User ID=brtzyljplgqrirgq;Password=VPwbRk8qMZo7CuHkCUSrKx4wTGoeNXcfvcSdWjTYQBqhmxggMAnF68cwTapj63KW;" />
	</connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5"></compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" defaultUrl="~/pgMain.aspx" />
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <authorization>
      <allow users="*" />
      <deny users="?" />
    </authorization>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="UHSSWEB_DEV" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="UHSSWEB_DEV" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="UHSSWEB_DEV" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
      <customErrors mode="Off"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="uhsstablehockey@gmail.com">
        <network host="smtp.gmail.com" password="" userName="" />
      </smtp>
    </mailSettings>
  </system.net>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <location path="~/styles/Styles.css">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="~/images/uhss.gif">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="~/Site.Master">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="~/Default.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
 <system.webServer>
    <defaultDocument>
        <files>
            <add value="/Account/Login.aspx" />
        </files>
    </defaultDocument>
   </system.webServer>
</configuration>