<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="UHSSWEB_DEVEntities" connectionString="metadata=res://*/EDMTableHockey.csdl|res://*/EDMTableHockey.ssdl|res://*/EDMTableHockey.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=S12082\SQLEXPRESS;Initial Catalog=UHSSWEB_DEV;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>